@media screen and (max-width: 478px){
	.logo {
		margin-left: 15%;
	}
}
body {
	background-image: url(../img/background.jpg);
	background-size: cover;
}

a {
	text-decoration: none;
	color: white;
}

p {
	font-family: Roboto;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-weight: lighter;
}

.logo {
	width:70%;
}

.space {
	height: 30px;
}

.menu-icons {
    padding-right: 35px;
    margin-top: -2px;
}

.background {
	background: linear-gradient(136.86deg, rgba(103, 58, 183, 0.8) 0%, rgba(49, 27, 146, 0.8) 100%);
	opacity: 80%;
}

.mdl-layout__drawer {
	background: transparent;
	border: none;
	padding-top: 15px;
	width: 350px;
	left: -170px;
	box-shadow: none;
}

.mdl-layout__drawer.is-visible {
  	left: 0;
}

.mdl-layout__drawer>.mdl-layout-title {
	padding-left: 150px;
	padding-top: 15px;
    color: white;
    font-size: 30px;
    font-family: Roboto;
    line-height: 39px;
}

.material-icons {
	font-size: 40px;
	color: white;
}

.mdl-layout__drawer-button {
	margin:30px 30px;
	z-index: 5;
}

.mdl-layout__obfuscator.is-visible {
	background: transparent;
}

.mdl-layout__drawer .mdl-navigation {
	padding-top: 80px;
	font-family: Roboto;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	color: white;
	font-family: Roboto;
	font-size: 22px;
	letter-spacing: 5px;
	line-height: 29px;
	font-weight: lighter;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	background-color: transparent;
}

.main-section {
	margin: auto;
	align-items: center;
	text-align: center;
	margin-top: 40px;
}

.signin-btn {
	width: 270px;
	height: 38px;
	background-color: rgba(255,255,255,0.2);
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	font-family: Roboto;
	color: white;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: lighter;
	margin-bottom: 15px;
	cursor: pointer;
}

.search-btn {
	width: 270px;
	height: 38px;
	background-color: rgba(255,255,255,0.2);
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	font-family: Roboto;
	color: white;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: lighter;
	margin-bottom: 15px;
	cursor: pointer;
}

.main-page-space {
	padding-bottom: 70%;
}

.page-text {
	font-family: Roboto;
	font-weight: lighter;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
}

.mdl-textfield__input {
	border-bottom: 2px solid white;
	padding: 10px 0 10px 0px;
	color: white;
}

.mdl-textfield__label {
	color: white !important;
	font-family: Roboto;
    font-weight: lighter;
    letter-spacing: 1px;
}

.mdl-textfield__label:after {
	background-color: white;
}

.mdl-chip {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding: 2px 12px;
    border-radius: 6px;
    background-color: #ffa132;
    float: left;
    margin-top: 32px;
    margin-bottom: -5px;
    margin-right: 5px;
}

.mdl-chip__action, .mdl-chip__contact {
	color: white;
    font-weight: bold;
    margin-right: -10px;
}

.mdl-chip__text {
    font-size: 16px;
    color: white;
}

.tags {
	border-bottom: 2px solid white;
}

.must-not {
	background-color: rgb(65, 46, 145);
}

.new-search-btn {
	width: 270px;
	height: 38px;
	background-color: #673AB7;
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	margin-bottom: 10px;
}

.new-search-btn > a {
	font-family: Roboto;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-weight: lighter;
}

.save-search-btn {
	width: 270px;
	height: 38px;
	background-color: #673AB7;
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 4px;
}

.save-search-btn > a {
	font-family: Roboto;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-weight: lighter;
}

.search-section {
	background-color: rgba(255, 255, 255, 0.23);
    margin-left: -5px;
    text-align: center;
    float: left;
    margin-bottom: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid white;
}

.below-search {
    width: 120px;
	height: 52px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0 2px 0 0 #FFFFFF;
	margin-left: 58px;
	text-align: left;
	margin-top: 20px;
	float: left;
}

.below-search p {
	margin: 0;
}

.primary {
	font-size: 15px;
	padding-left: 5px;
}

.secondary {
	font-size: 14px;
	padding-left: 10px;
	padding-top: 5px;
}

.secondary-inside {
	float: right;
}

.profiles {
	width: 375px;
	height: 108px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);
	border-radius: 10px;
	padding: 10px;
	margin: auto;
}

.middle-section {
	float: left;
}

.profile-picture {
	box-sizing: border-box;
	width: 67px;
	height: 100%;
	border: 0.5px solid #9E9E9E;
	border-radius: 4px;
	float: left;
}

.user-info > p {
	font-size: 10px;
	font-weight: bolder;
	color: rgba(0,20,53,0.85);
    padding-left: 15px;
    float: left;
}

.social {
	width: 17.5px;
	height: 17.6px;
	margin-right: 5px;
	float: left;
}

.social-icons {
	margin-top: -10px;
	padding-left: 15px;
	width: 150px;
	float: left;
}

.options {
	float: right;
	width: 120px;
	height: 100%;
	margin-top: -115px;
    margin-right: -15px;

}

.options > ul > li {
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	list-style: none;
}

.options > ul > li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 15px;
    position: relative;
}

.load-more {
	width: 270px;
	height: 38px;
	background-color: #673AB7;
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	margin: auto;
	color: white;
}

.third-section {
	float: left;
}

.icon {
	margin-top: 20px;
	width: 0px;
	height: 0px;
	/*transform: scaleX(-1);
	border: 1px solid rgba(255,255,255,0.5);*/
	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent; 
  	border-right:10px solid rgba(255,255,255,0.5); 
  	float: left;
}

.comment-box {
	width: 375px;
	height: 240.5px;
	background-color: #673AB7;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 10px;
	float: left;
	margin: auto;
}

.comment-heading {
	font-weight: lighter;
	padding-top: 10px;
	font-size: 16px;
	letter-spacing: 2px;
}

.comment {
	width: 358px;
	height: 186px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);
	border-radius: 4px;
	margin-left: 9px;
    margin-top: -2px;
}

.comment-text {
	color: black;
	font-size: 12px;
	padding: 15px;
    letter-spacing: 0px;
}

.results-section {
	background-color: rgba(255, 255, 255, 0.23);
    margin-left: -5px;
    text-align: center;
    float: left;
    margin-bottom: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid white;
    padding-left: 50px;
}

.search-result-section {
	background-color: rgba(255, 255, 255, 0.23);
    margin-right: -5px;
    text-align: center;
    float: right;
    margin-bottom: 100px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid white;
}

.search-results-heading {
	font-family: Roboto;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 2px;
	color: #EEEEEE;
	font-weight: lighter;
	text-align: left;
}

th {
    padding-right: 70px;
    text-align: left;
	height: 24px;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 2px;
	color: #FFFFFF;
	padding-bottom: 10px;
}

td {
    text-align: left;
	height: 21px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding-bottom: 15px;
	padding-top: 20px;

}

tr {
	border-bottom: 1px solid white;
}

table {
  border-collapse: collapse;
}

.load-more {
	width: 270px;
	height: 38px;
	background-color: #673AB7;
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	font-size: 15px;
	letter-spacing: 1px;
	float: right;
	margin-right: 50px;
}